<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>
         <li><%= link_to "properties", properties_path %></li>
  		  <li><%= link_to "buyers", buyers_path %></li>
           <li><%= link_to "viewings", viewings_path %></li>
        